.card {
  /*background-color: #eee;
  */
  background-color: #fffffe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 300px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  margin: 20px 0;
}

.card:hover {
  box-shadow: 4px 4px 8px #e53170;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.card-img img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.table-title {
  /* color: #475d5b; */
  color: #a7a9be;
}

tr {
  font-weight: bold;
}
td {
  padding: 5px 10px;
}

.skill {
  border: 1px solid gray;
  margin-right: 5px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 2px 5px;
  margin-bottom: 5px;
  color: #475d5b;
  background-color: #ffa8ba;
}

.hireBtn {
  border: none;
  padding: 8px 25px;
  /* background-color: #faae2b;
  color: #00473e; */
  background-color: #ff8906;
  color: #fffffe;
  font-weight: bold;
  margin: 10px;
  font-size: 18px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
}

.hireBtn:hover {
  background-color: #ffb406f1;
}
.far {
  margin-right: 7px;
}
