.hire {
  color: #fffffe;
  margin: 0 10px;
}

p {
  margin-left: 35px;
  /* padding: 5px 0; */
  font-size: 24px;
}

.selected-people {
  border-bottom: 1px solid gray;
  font-weight: 600;
}

.devp-name {
  color: chartreuse;
  margin: 10px 30px;
}

.length,
.total-cost {
  background-color: #ff8906;
  padding: 2px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.total-cost {
  font-weight: bold;
}
